.adicionar {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #e9ecef;
    color: #212529;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

.expand-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

.save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.save-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
